<div class="banner container">
    <div class="row">
        <div class="col-md-6">

            <div class="d-flex ">
                <div class="box ">
                    <div class=" liner_bg h-75 d-flex justify-content-center align-items-center fs-2">
                        10
                    </div>
                    <div class="bg-white w-100 text-dark ps-4">DAYS</div>
                </div>
                <div class="box ">
                    <div class=" liner_bg h-75 d-flex justify-content-center align-items-center fs-2">
                        24
                    </div>
                    <div class="bg-white w-100 text-dark ps-3">HOURS</div>
                </div>
                <div class="box ">
                    <div class=" liner_bg h-75 d-flex justify-content-center align-items-center fs-2">
                        60
                    </div>
                    <div class="bg-white w-100 text-dark ps-4">MINU</div>
                </div>
                <div class="box ">
                    <div class=" liner_bg h-75 d-flex justify-content-center align-items-center fs-2">
                        33
                    </div>
                    <div class="bg-white w-100 text-dark ps-4">SECO</div>
                </div>
            </div>
            <h1 class="mt-5">
                Algorithmic & Blockchain<br>
                Solutions for Crypto<br>
                Investments
            </h1>
            <div class="mt-5">
                <button class="btn me-3 px-5 text-white liner_bg">Buy Tokens</button>
                <button class="btn me-3 px-5 text-white sing_up">Sing Up to join</button>
            </div>
        </div>
        <div class="col-md-6">
            <div class="img">
                <img src="assets/images/Group.png" class="w-100" alt="" srcset="">
            </div>
        </div>

    </div>
</div>