<section class="bg-2">
    <div class="container ">
        <!-- <div class="text-white text-center ico">
            <span class="">Token</span>
            <h2>Token Sole</h2>
        </div> -->
        <div class="row ico">
            <div class="col-md-6">
                <div class="text-white pt-5 w-75">
                    <span class="">Work process</span>
                    <h2 class="mb-4">Crypto Working Process</h2>

                    <p class="mb-4">Don’t get shirty with me owt to do with me arse down the pub have
                        it car boot happy days no biggie bevriy only aquid Im goods in my
                        flat the little rotter cheeky.!</p>

                    <div class="content row">
                        <div class="col-sm-2 me-3">
                            <div class="bg-icon d-flex justify-content-center align-items-center"> <img src="assets/images/cryptocurrency-2 1.png" alt="" srcset=""></div>
                        </div>
                        <div class="col-sm-9">
                            <h5>ico Platform</h5>
                            <p>For business which a product online
                                product listings in the</p>
                        </div>
                    </div>
                    <div class="content row">
                        <div class="col-sm-2 me-3">
                            <div class="bg-icon d-flex justify-content-center align-items-center"> <img src="assets/images/cryptocurrency 1.png" alt="" srcset=""></div>
                        </div>
                        <div class="col-sm-9">
                            <h5>Investors</h5>
                            <p>For business which a product online
                                product listings in the</p>
                        </div>
                    </div>
                    <div class="content row">
                        <div class="col-sm-2 me-3">
                            <div class="bg-icon d-flex justify-content-center align-items-center"> <img src="assets/images/bitcoin 1.png" alt="" srcset=""></div>
                        </div>
                        <div class="col-sm-9">
                            <h5>Investments</h5>
                            <p>For business which a product online
                                product listings in the</p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-6">
                <div>
                    <img src="assets/images/img.png" alt="" srcset="">
                </div>
            </div>

        </div>
    </div>
</section>


<!-- Work process
Crypto Working Process

Don’t get shirty with me owt to do with me arse down the pub have
it car boot happy days no biggie bevriy only aquid Im goods in my 
flat the little rotter cheeky.!

ico Platform
For business which a product online
product listings in the

Investors
For business which a product online
product listings in the
Investments
For business which a product online
product listings in the -->