<section class="bg_1">
    <div class="container ">
        <div class="text-white text-center ico ">
            <span class="">Road map</span>
            <h2>Our Road Map</h2>
        </div>
        <div class="w-40 bg-map  m-auto py-5 text-white">
            <div class="row">
                <div class="col-md-10 mt-50">
                    <div class="content row">
                        <div class="col-2 col-md-2 ">
                            <div class="bg-icon d-flex justify-content-center align-items-center"> <img
                                    src="assets/images/ledger.png-3 1.png" alt="" srcset=""></div>
                        </div>

                        <div class="col-8 col-md-8 ps-3">
                            <h5>White Paper</h5>
                            <p>
                                While existing solutions offer to solve just one problem
                                team is up to build a secure, use use product based
                                integration, and even a digital.
                            </p>
                        </div>
                    </div>
                </div>
                <div class="col-md-12 mt-50">
                    <div class="content row">
                        <div class="col-md-3 col-2"></div>
                        <div class="col-md-2 col-2">
                            <div class="bg-icon d-flex justify-content-center align-items-center"> <img
                                    src="assets/images/Vector.png" alt="" srcset=""></div>
                        </div>

                        <div class="col-md-7 ps-3 col-7">
                            <h5>Launch</h5>
                            <p>
                                While existing solutions offer to solve just one problem
                                team is up to build a secure, use use product based
                                integration, and even a digital.
                            </p>
                        </div>
                    </div>
                </div>
                <div class="col-md-10 mt-50">
                    <div class="content row">
                        <div class="col-md-2 col-2">
                            <div class="bg-icon d-flex justify-content-center align-items-center"> <img
                                    src="assets/images/Tokel 2.png" alt="" srcset=""></div>
                        </div>


                        <div class="col-md-8 ps-3 col-8">
                            <h5>Money</h5>
                            <p>
                                While existing solutions offer to solve just one problem
                                team is up to build a secure, use use product based
                                integration, and even a digital.
                            </p>
                        </div>
                    </div>
                </div>
                <div class="col-md-12 mt-50">
                    <div class="content row">
                        <div class="col-md-3 col-2"></div>
                        <div class="col-md-2 col-2">
                            <div class="bg-icon d-flex justify-content-center align-items-center"> <img
                                    src="assets/images/ledger.png-30.png" alt="" srcset=""></div>
                        </div>
                        <div class="col-md-7 ps-3 col-7">
                            <h5>Reward</h5>
                            <p>
                                While existing solutions offer to solve just one problem
                                team is up to build a secure, use use product based
                                integration, and even a digital.
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

</section>