<section class="bg-2 text-white pb-5">
    <div class="container">
        <div class=" text-center ico ">
            <span class="">Contact us</span>
            <h2>Get in Touch</h2>
        </div>
        <div class="row">
            <div class="col-md-6">
                <div class=" ">
                    <h3 class="mb-5">Contact Information</h3>
                    <div class="content row">
                        <div class="col-sm-2">
                            <div class="bg-icon d-flex justify-content-center align-items-center"> <i
                                    class="fa-solid fa-location-dot fa-2x"></i></div>
                        </div>
                        <div class="col-sm-9">
                            <h5>Office address</h5>
                            <p>Suite 1307, Level 12, Tropical Center 218
                                New Elephant Road, Dhaka - 1205</p>
                        </div>
                    </div>
                    <div class="content row">
                        <div class="col-sm-2">
                            <div class="bg-icon d-flex justify-content-center align-items-center"><i
                                    class="fa-solid fa-phone fa-2x"></i></div>
                        </div>


                        <div class="col-sm-9">
                            <h5> Phone number</h5>
                            <p>+8801678170593, 01919-264687
                                02-9611936</p>
                        </div>
                    </div>
                    <div class="content row">
                        <div class="col-sm-2">
                            <div class="bg-icon d-flex justify-content-center align-items-center"> <i
                                    class="fa-solid fa-envelope fa-2x"></i></div>
                        </div>

                        <div class="col-sm-9">
                            <h5>Email address</h5>
                            <p>support@blackfriday.com
                                support@blackfriday.com</p>

                        </div>
                    </div>
                    <div class="content row">
                        <div class="col-sm-2">
                            <div class="bg-icon d-flex justify-content-center align-items-center"> <i
                                    class="fa-solid fa-globe fa-2x"></i></div>
                        </div>

                        <div class="col-sm-9">
                            <h5>Website address</h5>
                            <p>admincryptocurrency.com</p>

                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-6 bg_1 ps-4">
                <h3 class="my-4 ">Send us a Message</h3>
                <form >
                    <div class="row forms">
                        <div class="col-md-6">
                            <input type="text" placeholder="Your Name" class="w-100 bg-2" >
                        </div>
                        <div class="col-md-6">
                            <input type="text" placeholder="Your Email" class="w-100 bg-2">
                        </div>
                        <div class="col-md-12">
                            <input type="text" class="w-100 bg-2" placeholder="Subject">
                        </div>
                        <div class="col-md-12">
                            <textarea name="" class="w-100 bg-2" placeholder="Your Massage" cols="30" rows="7"></textarea>
                        </div>
                        <div class="col-md-12 mb-5">
                            <button class="btn liner_bg text-white p-2">Submit message</button>
                        </div>
                    </div>


                </form>
            </div>
        </div>
    </div>
</section>