<section class="bg_1">
    <div class="container ico">
        <div class="row">
            <div class="col-md-6">
                <div class="text-white ">
                    <span class="">Our Desktop and mobile app</span>
                    <h2 class="mb-3">Trade any where
                        any Time</h2>
                    <p>While existing solutions offer to solve just one problem at a time our
                        integration, and even a digital arbitration system.</p>
                    <ul>
                        <li>Crypto-news curation</li>
                        <li>Natural Language Understanding</li>
                        <li>Wallet aggregation</li>
                        <li>Professional Network</li>
                        <li>
                            No more expensive fees</li>

                    </ul>
                    <button class="btn liner_bg text-white py-3 px-4 me-5">Download App</button>
                    <a><img src="assets/images/010.png" class="me-3" alt="" srcset=""></a>
                    <a><img src="assets/images/00.png" alt="" class="me-3" srcset=""></a>
                    <a><img src="assets/images/011.png" alt="" class="me-3" srcset=""></a>

                </div>
            </div>

            <div class="col-md-6">
                <div>
                    <img src="assets/images/Mockup- 1.png" class="img-fluid" alt="" srcset="">
                </div>
            </div>
        </div>
    </div>
</section>