<section class="footer">
    <div class="container">
        <div class="text-white text-center ico ">
            <img src="assets/images/logo.png" class="mb-4"/>
            <br>
            <a><img src="assets/images/instagram4.png" alt="" srcset=""></a>
            <a><img src="assets/images/instagram3.png" alt="" srcset=""></a>
            <a><img src="assets/images/instagram2.png" alt="" srcset=""></a>
            <a><img src="assets/images/instagram1.png" alt="" srcset=""></a>
            <br>
            <p class="mt-4">All Right Reserved. Designed and Developed by LabArtisan</p>
        </div>

    </div>
</section>