<section class="bg-2 text-white">
    <div class="container">
        <div class="row ico">
            <div class="col-md-6">
                <h2 class="text-center mb-5">Initial Token Distribution</h2>
                <img src="assets/images/Group 27.png" alt="" srcset="">
            </div>
            <div class="col-md-6">
                <h2 class="text-center mb-5">Sale Proceed Allocation</h2>
                <img src="assets/images/Group 26.png" alt="" srcset="">
            </div>
        </div>
    </div>
</section>