<div id="b_ground">
    <nav class="navbar navbar-expand-lg navbar-light bg-nav">
        <div class="container">
            <a class="navbar-brand me-5" href="#">
                <img src="assets/images/logo.png" />
            </a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
                data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false"
                aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav mb-2 mb-lg-0">
                    <li class="nav-item">
                        <a class="nav-link active" aria-current="page" href="#">What is ico</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">Token Sole</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">Road Map</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">Apps</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">Team</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">Faqs</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">Contact</a>
                    </li>

                </ul>
                <form class="d-flex">
                    <button class="btn me-3 px-5 text-white liner_bg" >Sing Up</button>
                    <button class="btn me-3 px-5 text-white border border-white border-3" >Login</button>
                </form>
            </div>
        </div>
    </nav>
</div>
