<section class="bg-2 pb-5">
    <div class="container mb-5">
        <div class="text-white text-center ico ">
            <span class="">Our Team</span>
            <h2>The Leadership Team</h2>
        </div>
        <div class="row">
            <div class="col-lg-3 col-md-6">
                <div class="bg_1 text-center text-white">
                    <div class=" mb-2 pt-5">
                        <img src="assets/images/Ellipse 1.png" class="imgs" alt="" srcset="">
                    </div>
                    <h5>Vanessa Kirby</h5>
                    <h6>Lead Blockchain</h6>
                    <p class="my-4">Continually Onceptal Techncally Professionally monezeturk</p>
                    <div class="media">
                        <a>
                            <i class="fa-brands fa-twitter"></i>
                        </a>
                        <a>
                            <i class="fa-brands fa-behance"></i>
                        </a>
                        <a>
                            <i class="fa-brands fa-instagram"></i>
                        </a>
                        <a>
                            <i class="fa-brands fa-vimeo-v"></i>
                        </a>
                        <a>
                            <i class="fa-brands fa-linkedin-in"></i>
                        </a>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-md-6">
                <div class="bg_1 text-center text-white">
                    <div class=" mb-2 pt-5">
                        <img src="assets/images/Ellipse 3.png" class="imgs" alt="" srcset="">
                    </div>
                    <h5>Vanessa Kirby</h5>
                    <h6>Lead Blockchain</h6>
                    <p class="my-4">Continually Onceptal Techncally Professionally monezeturk</p>
                    <div class="media">
                        <a>
                            <i class="fa-brands fa-twitter"></i>
                        </a>
                        <a>
                            <i class="fa-brands fa-behance"></i>
                        </a>
                        <a>
                            <i class="fa-brands fa-instagram"></i>
                        </a>
                        <a>
                            <i class="fa-brands fa-vimeo-v"></i>
                        </a>
                        <a>
                            <i class="fa-brands fa-linkedin-in"></i>
                        </a>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-md-6">
                <div class="bg_1 text-center text-white">
                    <div class=" mb-2 pt-5">
                        <img src="assets/images/Ellipse 2.png" class="imgs" alt="" srcset="">
                    </div>
                    <h5>Vanessa Kirby</h5>
                    <h6>Lead Blockchain</h6>
                    <p class="my-4">Continually Onceptal Techncally Professionally monezeturk</p>
                    <div class="media">
                        <a>
                            <i class="fa-brands fa-twitter"></i>
                        </a>
                        <a>
                            <i class="fa-brands fa-behance"></i>
                        </a>
                        <a>
                            <i class="fa-brands fa-instagram"></i>
                        </a>
                        <a>
                            <i class="fa-brands fa-vimeo-v"></i>
                        </a>
                        <a>
                            <i class="fa-brands fa-linkedin-in"></i>
                        </a>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-md-6">
                <div class="bg_1 text-center text-white">
                    <div class=" mb-2 pt-5">
                        <img src="assets/images/Ellipse 1.png" class="imgs" alt="" srcset="">
                    </div>
                    <h5>Vanessa Kirby</h5>
                    <h6>Lead Blockchain</h6>
                    <p class="my-4">Continually Onceptal Techncally Professionally monezeturk</p>
                    <div class="media">
                        <a>
                            <i class="fa-brands fa-twitter"></i>
                        </a>
                        <a>
                            <i class="fa-brands fa-behance"></i>
                        </a>
                        <a>
                            <i class="fa-brands fa-instagram"></i>
                        </a>
                        <a>
                            <i class="fa-brands fa-vimeo-v"></i>
                        </a>
                        <a>
                            <i class="fa-brands fa-linkedin-in"></i>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>