<section class="bg_1 pb-5">
    <div class="container mb-5">
        <div class="text-white text-center ico ">
            <span class="">Partners</span>
            <h2>ico Crypto Partners</h2>
        </div>
        <div class="row text-center images">
            <div class="col-lg-2 col-md-3">
                <img src="assets/images/partner-sm-d-7-4.png"  alt="" srcset="">
            </div>
            <div class="col-lg-2 col-md-3">
                <img src="assets/images/partner-xs-a-7-4.png" alt="" srcset="">
            </div>
            <div class="col-lg-2 col-md-3">
                <img src="assets/images/partner-xs-a-7-4.png" alt="" srcset="">
            </div>
            <div class="col-lg-2 col-md-3">
                <img src="assets/images/partner-xs-c-7-4.png" alt="" srcset="">
            </div>
            <div class="col-lg-2 col-md-3">
                <img src="assets/images/partner-sm-b-7-4-1.png" alt="" srcset="">
            </div>
            <div class="col-lg-2 col-md-3">
                <img src="assets/images/partner-xs-d-7-4.png" alt="" srcset="">
            </div>
            <div class="col-lg-2 col-md-3 un-none"></div>
            <div class="col-lg-2 col-md-3">
                <img src="assets/images/partner-sm-a-7.png" alt="" srcset="">
            </div>
            <div class="col-lg-2 col-md-3">
                <img src="assets/images/partner-sm-c-7.png" alt="" srcset="">
            </div>
            <div class="col-lg-2 col-md-3">
                <img src="assets/images/partner-sm-d-7-4.png" alt="" srcset="">
            </div>
            <div class="col-lg-2 col-md-3">
                <img src="assets/images/partner-sm-b-7-4-1.png" alt="" srcset="">
            </div>
            <div class="col-lg-2 col-md-3 un-none"></div>

        </div>
    </div>
</section>