<section class="bg_1">
    <div class="container ">
        <!-- <div class="text-white text-center ico">
            <span class="">Token</span>
            <h2>Token Sole</h2>
        </div> -->
        <div class="row ico">
            <div class="col-md-6">
                <div>
                    <img src="assets/images/img- 1.png" alt="" srcset="">
                </div>
            </div>
            <div class="col-md-6">
                <div class="text-white pt-5 w-75">
                    <span class="">WHAT IS ICO CRYPTO</span>
                    <h2 class="mb-4">We’ve built a Platform
                        to buy and sell shares.</h2>
                    <p class="mb-4">ICO Crypto is a platform for the future of funding that
                        powering dat for the new equity blockchain.</p>
                    <p class="mb-4">While existing solutions offer to solve just one problem at a time our
                        team is up to build a secure, useful, & easy-to-use product based on
                        integration, and even a digital arbitration system.</p>
                    <p class="mb-4">While existing solutions offer to solve just one problem at a time our
                        private blockchain. It will include easy cryptocurrency payments
                        integration, and even a digital arbitration system.</p>
                </div>
            </div>

        </div>
    </div>
</section>

<!-- WHAT IS ICO CRYPTO
We’ve built a Platform
to buy and sell shares.
ICO Crypto is a platform for the future of funding that 
powering dat for the new equity blockchain.
While existing solutions offer to solve just one problem at a time our 
team is up to build a secure, useful, & easy-to-use product based on 
integration, and even a digital arbitration system.

While existing solutions offer to solve just one problem at a time our 
private blockchain. It will include easy cryptocurrency payments 
integration, and even a digital arbitration system. -->